/* Provide sufficient contrast against white background */

:root {
    --color-site-primary: #1b6ec2;
    --color-site-body: #fff;    
    --card-background: rgba(192, 192, 192, 0.185);
    --card-image-background : rgba(59, 69, 214, 0.144);
    --blur-site-container-main: 0px;
}

body{
    background:var(--color-site-body);
}


.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

