#image-course {
    width: 100%;
    height: 100%;
}

#color-background-img{
    background-color: var(--card-image-background);
    border-radius: 15px;
}

.card{
    background-color: var(--card-background);
}